@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{

    --cor-de-fundo: #C4C4C4;
    --cor-branca-padrao: #FFFFFF;
    --cor-dos-topos: #002F52;
    --cor-letra-padrao:#002F52;
    --cor-letra-2: #ffffff;
    --cor-letra3:#EB9B00;

    --font-padrao:'Poppins', sans-serif;
}

body{

    background-color: var(--cor-de-fundo);
    height: 100vh;
    color: var(--cor-letra-padrao) ;
    box-sizing: border-box;
}




.cabecalho{

    display: flex;
    justify-content: center;
}

.cabecalho__nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    width: 100%;
    background-color: var(--cor-branca-padrao);
    gap: 1.5rem;
    border-bottom: 0.2rem solid var(--cor-dos-topos);
        
    
}

.cabecalho__nav__imagem{

    width: 5rem;
    
}

.cabecalho__nav__links{

    text-decoration: none;
    color: var(--cor-branca-padrao);
    font-family: var(--font-padrao);
    font-size: 1.2rem;
    padding: 4px;
    border: 2px solid var(--cor-dos-topos);
    border-radius: 10px;
    background-color: var(--cor-dos-topos);
    
}

.cabecalho__nav__links:active{

    color: #C4C4C4;
    
}

.corpo__apresentacao{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-branca-padrao);
    background-color: var(--cor-dos-topos);
    padding: 2rem;
    
}

.corpo__apresentacao__titulo{

    font-family: var(--font-padrao);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 1rem;
    
}

.corpo__apresentacao__paragrafo{


    text-align:justify;
    font-family: var(--font-padrao);
    font-weight: 500;
    font-size: 16px;
}

.corpo__apresentacao__paragrafo2{

    text-align:justify;
    font-family: var(--font-padrao);
    font-weight: 500;
    font-size: 16px;
    margin-top: 0.7rem;
}

.corpo__meio{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca-padrao);
    padding: 1rem;
    color: var(--cor-letra3);
    font-family: var(--font-padrao);
    font-weight: 700;
    font-size: 18px;
    
}

.corpo__meio2{

    display: flex;
    background-color: var(--cor-branca-padrao);
    padding-top: 2rem;
    margin:1.5rem 1.2rem;
    padding: 1rem 1rem;
    align-items: center;
    gap:1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 1rem;
    
    
}

.corpo__meio__titulo{

    margin-top: 0.5rem;
}

.corpo__meio2__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}   

.corpo__meio2__container2__imagem{

    width: 9rem;
    border:3px solid var(--cor-letra-padrao) ;
    height: 8rem;

}

.corpo__meio2__container__titulo{

    margin-bottom: 1rem;
    font-family: var(--cor-letra-padrao);
    font-family: var(--font-padrao);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    
}

.corpo__meio2__container__paragrafo{
    justify-content: center;
    text-align: center;
    font-family: var(--font-padrao);
    color: var(--cor-letra-padrao);
    font-weight: 400;
    font-size: 14px;
    width: 9rem;
    

}


.corpo__meio2__container2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.corpo__meio2__container2__botao{

    text-decoration: none;
    margin-top: 1rem;
    background-color: var(--cor-letra3);
    color: var(--cor-branca-padrao);
    width: 129px;
    height: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-padrao);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding:0.5rem 0rem ;

}

.praia_demo{

    margin-left: 0.8rem;
}

.titulo__footer{

    color: var(--cor-letra3);
    font-family: var(--font-padrao);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}












