@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prompt&family=Quicksand:wght@600&display=swap');



:root{

    --cor-primaria: #f6f6f6 ;
    --cor-secundaria: #088395 ;
    --cor-terciaria: #3E432E ;
    --cor-4: #939B62 ;
    --hover: #9DC08B ;

    --fonte-primaria: 'Quicksand', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
    --fonte-terciaria:'Prompt', sans-serif;

}

*{
    margin: 0;
    padding:0;
  
}

body{

    background-color: var(--cor-primaria) ;
    color: var(--cor-terciaria);
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    background: var(--cor-4);
}

.conteudo__header{

    border-bottom: 2px solid var(--cor-primaria);
}

.corpo__conteudo{

    display: flex;
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: var(--cor-terciaria);
   

}

.corpo__conteudo__titulo{

    font-size: 2rem;
    color: var(--cor-primaria);
    padding: .5rem 1.5rem ;    
    text-decoration: none;
    border-radius: 1rem;
    box-shadow:  5px 5px 5px rgb(1, 10, 1);
    font-family: var(--fonte-secundaria);
    margin-left: 12rem;
    background-color: var(--cor-terciaria);
    

}


.corpo__conteudo__foto{

    width: 500px;
    border: 3px solid var(--cor-primaria);
}

.corpo__conteudo__apresentacao{

    display: flex;
    flex-direction: column;
    
}

.corpo__conteudo__texto{

       margin-left: 3.5rem;
}

.corpo__conteudo__imagens{

    display: flex;
    margin-left: 12rem;
    margin-top: 7rem;
    gap: 10rem;
    margin-right: 12rem ;
    flex-direction: column;
}

.rodape{

    display: flex;
    padding: 4rem;
    justify-content: center;
    background-color: var(--cor-terciaria);
    margin-top: 5rem;
    border-top: 1px solid var(--cor-primaria);
    gap: 8rem;

}

.corpo__rodape__link{

    display: flex;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    padding: 1rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.corpo__rodape__img{

    width: 25px;
}

@media (max-width:950px){

    .corpo__conteudo__imagens{

        flex-direction: column;
        justify-content: center;
    
    }

    .corpo__conteudo{

        margin-left: 4.5rem;
    }

}

@media (max-width:950px){

    
       .corpo__conteudo__titulo{

        display: flex;
        justify-content: center;
        margin-left: 0;
        
       }

       .corpo__conteudo{

        margin-left: 0;
        justify-content: center;

       }
}

@media (max-width:570px){

    

    
}