
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand:wght@600&display=swap');



:root{

    --cor-primaria: #EDF1D6 ;
    --cor-secundaria: #609966 ;
    --cor-terciaria: #40513B ;
    --cor-4: #171d15 ;
    --hover: #9DC08B ;

    --fonte-primaria: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding:0;
  
}

body{

    background-color: var(--cor-primaria) ;
    color: var(--cor-terciaria);
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    background: var(--cor-4);
}

.corpo__conteudo{

    display: flex;
    justify-content: center;
    margin-top: 1rem;
   
    
}

.corpo__conteudo__titulo{

    font-size: 4rem;
    color: var(--cor-primaria);
    background: var(--cor-terciaria);
    padding: .5rem 1.5rem ;    
    text-decoration: none;
    border-radius: 3rem;
    box-shadow:  10px 5px 5px rgb(1, 10, 1);
    margin-top: 10px;
}

.corpo__conteudo__foto{

    width: 400px;
}

.corpo__conteudo__apresentacao{

    display: flex;
    flex-direction: column;
    
}

.corpo__conteudo__texto{

       margin-left: 3.5rem;
}

.corpo__conteudo__imagens{

    display: flex;
    margin-left: 11rem;
    margin-top: 7rem;
    gap: 10rem;
}